.horizontal-lines {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 40%;
  border: none;
  border-top: 1px solid black;
}

.or {
  padding: 0 10px;
  font-weight: bold;
  color: #979191;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-signin-container {
  width: 100%;
}

.or-container {
  padding: 20px 0 20px 0;
}

.google-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
